:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(253, 203, 110);
    --bordercolor: rgb(225, 112, 85);
    --brightyarrow: rgb(253, 203, 110);
    --background: rgb(250, 177, 160);
    --startColor: rgb(0, 184, 148);
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#top {
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--background);
    border: 2px solid var(--bordercolor);
    margin: 10px;
}

#score {
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--background);
    border: 2px solid var(--bordercolor);
    margin: 10px;
}

#score h2 {
    margin-top: 30px;
}

#question {
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

main section {
    text-align: center;
}

#answers {
    text-align: center;
}

button {
    border: 0;
    width: 150px;
    min-height: 2rem;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: var(--bordercolor);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: rgba(255, 0, 0, 1);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#start {
    border: 0;
    width: auto;
    min-height: 2rem;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: var(--startColor);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#start:disabled {
    border: 0;
    width: auto;
    min-height: 2rem;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(133 , 133, 133);
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: red;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);    
}

#start:disabled:hover {
    border: 0;
    width: auto;
    min-height: 2rem;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(133 , 133, 133);
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: red;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
}

#start:hover {
    background-color: rgb(30, 214, 178);
}

#start:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}